@charset "UTF-8";

/* BREAKPOINTS recomendados em 2023 são

Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.

*/

@media screen and (min-width: 768px) {
  span#burguer {
    display: none;
  }

  main {
    width: 768px;
  }

  nav {
    display: block;
  }

  nav ul li {
    display: inline-block;
  }
}
