@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

IMPORTANTE --> Esses Breakpoints eram os ideais recomendados pela W3C no momento do lançamento do curso, hoje me dia os valores podem ter mudado, faça uma pesquisa sobre
*/

/* BREAKPOINTS recomendados em 2023 são

Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.

*/

/* Pequenas telas */
/* @media screen and (max-width: 600px) {
} */
/* Essa parte será ignorada pois o site desenvolvido nesse projeto, já foi pensado no Mobile First, então não é necessário configurar novamente a mesma coisa, deixei comentado apenas para fins didáticos */
/* Celulares */
/* @media screen and (min-width: 600px) and (max-width: 768px) {
} */

/* Impressão */
@media print {
  body {
    background-image: url(../imagens/back-print.jpg); /* Desnecessário nesse caso pois a impressão não vai puxar o background-image */
  }

  main {
    text-align: center;
    width: 90vw;
    border: 2px solid gray;
  }

  main::after {
    content: "Essa impressão foi feita através do site www.cursoemvideo.com";
    text-decoration: overline;
  }

  h1 {
    font-family: "Courier New", Courier, monospace;
    color: black;
    text-shadow: none;
  }

  img#phone {
    display: none;
  }

  img#tablet {
    display: none;
  }

  img#print {
    display: block;
  }

  img#pc {
    display: none;
  }

  img#tv {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 758px) and (max-width: 992px) {
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

  main {
    width: 70vw;
  }

  img#phone {
    display: none;
  }

  img#tablet {
    display: block;
  }

  img#print {
    display: none;
  }

  img#pc {
    display: none;
  }

  img#tv {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url(../imagens/back-pc.jpg);
  }

  main {
    width: 80vw;
  }

  img#phone {
    display: none;
  }

  img#tablet {
    display: none;
  }

  img#print {
    display: none;
  }

  img#pc {
    display: block;
  }

  img#tv {
    display: none;
  }
}

/* Grandes telas */
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }

  main {
    width: 90vw;
  }

  img#phone {
    display: none;
  }

  img#tablet {
    display: none;
  }

  img#print {
    display: none;
  }

  img#pc {
    display: none;
  }

  img#tv {
    display: block;
  }
}
